{% extends 'base.html.twig' %}

{% block body %}

    <section id="container">

        {{ include('parts/header.html.twig') }}

        <section id="main-content">
            <section class="wrapper site-min-height">
                <div class="row mt mb">
                    <div class="col-lg-12">
                        <h3><i class="fas fa-home"></i> Liste des sujets</h3>
                        {% if is_granted('ROLE_USER') %}
                            <div class="space-10"></div>
                            <a href="{{ path('subject_new') }}"><button class="btn btn-primary">créer</button></a>
                            <div class="row mt">
                                <div class="col-md-12">
                                    <table class="table table-striped table-advance table-hover">
                                        <tbody>
                                            <thead>
                                                <tr>
                                                    <th>Titre des sujets</th>
                                                    <th>Date de publication</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                        {% for subject in subjects %}
                                            <tr class="tr_blog">
                                                <td>
                                                    <a href="{{ path('subject_show', {'id': subject.id}) }}">{{ subject.title }}</a>
                                                </td>
                                                <td class="hidden-phone">{{ subject.createdAt ? subject.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                                <td>
                                                    <button class="btn btn-success btn-xs">1 <i class="fas fa-thumbs-up"></i></button>
                                                    <button class="btn btn-danger btn-xs">3 <i class="far fa-thumbs-down"></i></button>
                                                    <button class="btn btn-warning btn-xs">5 <i class="fas fa-exclamation"></i></button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            {% endif %}
        </section>

        {{ include('parts/footer.html.twig') }}

    </section>

{% endblock %}