{% extends 'base.html.twig' %}

{% block body %}

    <section id="container">

        {{ include('parts/header.html.twig') }}

        <section id="main-content">
            <section class="wrapper site-min-height">
                <div class="row mt mb">
                    <div class="col-lg-12">
                        <h3>  <i class="fas fa-sign-in-alt"></i> Login</h3>
                        <div class="row mt">
                            <div class="col-lg-12">
                                <div class="form-panel">
                                    <div class="form">
                                        <form class="cmxform form-horizontal style-form" method="post">

                                            {% for flashError in app.flashes('verify_email_error') %}
                                                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                                            {% endfor %}

                                            {% if app.user %}
                                                <div class="mb-3">
                                                    <a href="{{ path('app_logout') }}"><button class="btn btn-theme" type="button">Déconnexion</button></a>
                                                </div>
                                            {% else %}
                                                <div class="form-group ">
                                                    <label class="control-label col-lg-2" for="inputEmail">Email</label>
                                                    <div class="col-lg-10">
                                                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                                                    </div>
                                                </div>

                                                <div class="form-group ">
                                                    <label for="inputPassword" class="control-label col-lg-2">Mot de passe</label>
                                                    <div class="col-lg-10">
                                                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                                                    </div>
                                                </div>

                                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                                <div class="form-group">
                                                    <div class="control-label col-lg-2">
                                                        <button class="btn btn-theme" type="submit">Valider</button>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </form>
                                        {% if app.user %}
                                            <div class="space-20"></div>
                                            <p>Tu es déjà connecté {{app.user.fullName}}</p>
                                        {% else %}
                                            <p>Tu n'as pas encore de compte ? <p>
                                            <p><a href="{{ path('app_register') }}">S'enregistrer</a></p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        {{ include('parts/footer.html.twig') }}

    </section>


{% endblock %}
