{% extends 'base.html.twig' %}

{% block body %}

    <section id="container">

        {{ include('parts/header.html.twig') }}

        <section id="main-content">
            <section class="wrapper site-min-height">
                <div class="row mt mb">
                    <div class="col-lg-12">
                        <h3> <i class="fas fa-plus-square"></i> Inscription</h3>
                        <div class="row mt">
                            <div class="col-lg-12">
                                <div class="form-panel">
                                    <div class="form">

                                        {% for flashError in app.flashes('verify_email_error') %}
                                            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                                        {% endfor %}

                                        {{ form_start(registrationForm, {'attr': {'class': 'cmxform form-horizontal style-form'}}) }}
                                            <div class="form-group ">
                                                <div class="control-label col-lg-2">
                                                    {{ form_label(registrationForm.full_name, 'Nom complet') }}
                                                </div>
                                                <div class="col-lg-10">
                                                    {{ form_widget(registrationForm.full_name, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>

                                            <div class="form-group ">
                                                <div class="control-label col-lg-2">
                                                    {{ form_label(registrationForm.birthday_date, 'Date de naissance') }}
                                                </div>
                                                <div class="col-lg-10">
                                                    {{ form_widget(registrationForm.birthday_date, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>

                                            <div class="form-group ">
                                                <div class="control-label col-lg-2">
                                                    {{ form_label(registrationForm.pseudo) }}
                                                </div>
                                                <div class="col-lg-10">
                                                    {{ form_widget(registrationForm.pseudo, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>

                                            <div class="form-group ">
                                                <div class="control-label col-lg-2">
                                                    {{ form_label(registrationForm.email) }}
                                                </div>
                                                <div class="col-lg-10">
                                                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>

                                            <div class="form-group ">
                                                <div class="control-label col-lg-2">
                                                    {{ form_label(registrationForm.plainPassword, 'Mot de passe') }}
                                                </div>
                                                <div class="col-lg-10">
                                                    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>

                                            <div class="form-group ">
                                                <div class="control-label col-lg-2 col-sm-3">
                                                    {{ form_label(registrationForm.agreeTerms, 'Accepter les conditions') }}
                                                </div>
                                                <div style="width: 55px" class="col-lg-10 col-sm-9">
                                                    {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'checkbox form-control'}}) }}
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="control-label col-lg-2">
                                                    <button class="btn btn-theme" type="submit">Valider</button>
                                                </div>
                                            </div>
                                        {{ form_end(registrationForm) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        {{ include('parts/footer.html.twig') }}

    </section>

{% endblock %}
