{% extends 'base.html.twig' %}

{% block title %}Edit Interaction{% endblock %}

{% block body %}
    <h1>Edit Interaction</h1>

    {{ include('interaction/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('interaction_index') }}">back to list</a>

    {{ include('interaction/_delete_form.html.twig') }}
{% endblock %}
