{% extends 'base.html.twig' %}

{% block title %}New Interaction{% endblock %}

{% block body %}
    <h1>Create new Interaction</h1>

    {{ include('interaction/_form.html.twig') }}

    <a href="{{ path('interaction_index') }}">back to list</a>
{% endblock %}
