{% extends 'base.html.twig' %}

{% block title %}Interaction{% endblock %}

{% block body %}
    <h1>Interaction</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ interaction.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('interaction_index') }}">back to list</a>

    <a href="{{ path('interaction_edit', {'id': interaction.id}) }}">edit</a>

    {{ include('interaction/_delete_form.html.twig') }}
{% endblock %}
