{% extends 'base.html.twig' %}

{% block body %}

    <section id="container">

        {{ include('parts/header.html.twig') }}

        <section id="main-content">
            <section class="wrapper site-min-height">
                <div class="row mt mb">
                    <div class="col-lg-12">
                        <h3> <i class="fas fa-pen"></i> Édition sujet {{ subject.id }}</h3>
                        <div class="row mt">
                            <div class="col-lg-12">
                                <div class="form-panel">
                                    <div class="form">

                                        {% for flashError in app.flashes('verify_email_error') %}
                                            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                                        {% endfor %}

                                        {{ form_start(form, {'attr': {'class': 'cmxform form-horizontal style-form'}}) }}

                                            <div class="form-group ">
                                                <div class="control-label col-lg-2">
                                                    {{ form_label(form.title, 'Nom du sujet') }}
                                                </div>
                                                <div class="col-lg-10">
                                                    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>

                                            <div class="form-group ">
                                                <div class="control-label col-lg-2">
                                                    {{ form_label(form.content, 'Contenu du sujet') }}
                                                </div>
                                                <div class="col-lg-10">
                                                    {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="control-label col-lg-2">
                                                    <div style="display: flex">
                                                        <button class="btn btn-theme">{{ button_label|default('Valider') }}</button>
                                                        <span class="width-5"></span>
                                                        <a href="{{ path('home') }}"><button type="button" class="btn btn-primary">Retour à la liste</button></a>
                                                    </div>
                                                    <div class="space-10"></div>
                                                </div>
                                            </div>

                                        {{ form_end(form) }}

                                    </div>
                                 </div>
                                </div>
                            </div>
                        </div>
                    </div>
             </section>
         </section>

        {{ include('parts/footer.html.twig') }}

    </section>

{% endblock %}

