{% extends 'base.html.twig' %}

{% block body %}

    <section id="container">

        {{ include('parts/header.html.twig') }}

        <section id="main-content">
            <section class="wrapper site-min-height">
                <div class="row mt mb">
                    <div class="col-lg-12">
                        <h3><i class="fa fa-book"></i> {{ subject.title }}</h3>
                        <div class="space-40"></div>
                        <div style="display: flex; justify-content: space-between">
                            <a href="/"><button class="btn btn-primary">Retour</button></a>
                            <div>
                                <a href="/subject/edit/{{ subject.id }}"><button class="btn btn-success logout">Éditer</button></a>
                                <a href="#"><button class="btn btn-danger logout" disabled>Supprimer</button></a>
                                <a href="/post/new/{{ subject.id }}"><button class="btn btn-primary logout">Répondre</button></a>
                            </div>
                        </div>
                        <div class="row mt">
                            <div class="col-md-12">
                                <div class="row mt">
                                    <div class="col-md-12">
                                        <div class="form-panel ">
                                            <div class="chat-room mt">
                                                <aside class="mid-side">
                                                    <div class="room-desk">
                                                        <div class="room-box">
                                                            <h5 class="text-primary"><span>{{subject.title}}</span></h5>
                                                            <div class="space-15"></div>
                                                            <p>{{ subject.content }}</p>
                                                            <div class="space-10"></div>
                                                            <button class="btn btn-success btn-xs">1 <i class="fas fa-thumbs-up"></i></button>
                                                            <button class="btn btn-danger btn-xs">3 <i class="far fa-thumbs-down"></i></button>
                                                            <button class="btn btn-warning btn-xs">5 <i class="fas fa-exclamation"></i></button>
                                                        </div>
                                                    </div>
                                                </aside>
                                            </div>
                                            <div class="room-box">
                                                {% if posts|length < posts %}
                                                    <h4>commentaires {{ posts|length }}</h4>
                                                {% endif %}
                                            </div>

                                            <div class="chat-room mt">
                                                <aside class="mid-side">
                                                    <div class="room-desk">
                                                        {% for post in posts %}
                                                        <div class="room-box">
                                                            <h5 class="text-primary">Commentaire {{ post.id }}</h5>
                                                            <div class="space-10"></div>
                                                            <p>{{ post.content }}</p>
                                                            <p>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</p>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </aside>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        {{ include('parts/footer.html.twig') }}

    </section>

{% endblock %}
