<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="SP Symfony [Mario, Julien, Pedro]">
        <link href="{{ asset('img/favicon.png') }}" rel="icon">
        <link href="{{ asset('img/apple-touch-icon.png') }}" rel="apple-touch-icon">

        <title>{% block title %}SP Symfony{% endblock %}</title>

        {% block stylesheets %}
            <link href="{{ asset('lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
            <link href="{{ asset('css/style.css') }}" rel="stylesheet">
            <link href="{{ asset('css/style-responsive.css') }}" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('lib/jquery/jquery.min.js') }}"></script>
            <script src="{{ asset('lib/bootstrap/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
