{% extends 'base.html.twig' %}

{% block body %}

<section id="container">

    {{ include('parts/header.html.twig') }}

    <section id="main-content">
        <section class="wrapper site-min-height">
            <div class="row mt mb">
                <div class="col-lg-12">
                    <h3> <i class="fa fa-cogs"></i> Répondre au sujet  </h3>
                    <div class="row mt">
                        <div class="col-md-12">
                            <div class="form-panel">

                                {{ form_start(form, {'attr': {'class': 'cmxform form-horizontal style-form'}}) }}

                                <div class="form-group ">
                                    <div class="control-label col-lg-2">
                                        {{ form_label(form.content, 'Votre Commentaire') }}
                                    </div>
                                    <div class="col-lg-10">
                                        {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>

                                {{ form_widget(form) }}

                                <button class="btn btn-theme">{{ button_label|default('Save') }}</button>

                                {{ form_end(form) }}

                                <div class="space-20"></div>

                                <a href="{{ path('home') }}">Retour au sujet</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    {{ include('parts/footer.html.twig') }}

</section>

{% endblock %}
