{% extends 'base.html.twig' %}

{% block body %}

    <section id="container">

        {{ include('parts/header.html.twig') }}

        <section id="main-content">
            <section class="wrapper site-min-height">
                <div class="row mt mb">
                    <div class="col-lg-12">
                        <h3> <i class="fas fa-user-shield"></i> Liste des comptes utilisateurs</h3>
                        <div class="space-20"></div>
                        <a href="{{ path('admin') }}"><button class="btn btn-primary">Retour</button></a>
                        <div class="row mt">
                            <div class="col-md-12">
                                <table class="table table-striped table-advance table-hover">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Email</th>
                                            <th>Roles</th>
                                            <th>Mot de passe</th>
                                            <th>Pseudo</th>
                                            <th>Nom complet</th>
                                            <th>Année de naissance</th>
                                            <th>Admin</th>
                                            <th>Crée le</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in users %}
                                        <tr>
                                            <td>{{ user.id }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                                            <td>{{ user.password }}</td>
                                            <td>{{ user.pseudo }}</td>
                                            <td>{{ user.fullName }}</td>
                                            <td>{{ user.birthdayDate ? user.birthdayDate|date('Y-m-d H:i:s') : '' }}</td>
                                            <td>{{ user.isAdmin ? 'Yes' : 'No' }}</td>
                                            <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                            <td>
                                                <a href="{{ path('user_show', {'id': user.id}) }}">Consulter</a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="10">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        {{ include('parts/footer.html.twig') }}

    </section>

{% endblock %}
