{% extends 'base.html.twig' %}

{% block body %}

    <section id="container">

        {{ include('parts/header.html.twig') }}

        <section id="main-content">
            <section class="wrapper site-min-height">
                <div class="row mt mb">
                    <div class="col-lg-12">
                        <h3><i class="fas fa-user-shield"></i> Liste des sujets signalés</h3>
                        <div class="space-10"></div>
                        <a href="{{ path('admin') }}"><button class="btn btn-primary">Retour</button></a>
                        <div class="row mt">
                            <div class="col-md-12">
                                <table class="table table-striped table-advance table-hover">
                                    <thead>
                                        <tr>
                                            <th>Titre des sujets</th>
                                            <th>Date de signalement</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for subject in subjects %}
                                        <tr class="tr_blog">
                                            <td>
                                                <p><b>{{ subject.title }}</b></p>
                                            </td>
                                            <td class="hidden-phone">{{ subject.createdAt ? subject.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                            <td>
                                                <a href="{{ path('subject_show', {'id': subject.id}) }}"><button class="btn btn-success">Voir</button></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        {{ include('parts/footer.html.twig') }}

    </section>

{% endblock %}
