{% extends 'base.html.twig' %}

{% block body %}

    <section id="container">

        {{ include('parts/header.html.twig') }}
        <section id="main-content">
            <section class="wrapper site-min-height">
                <div class="row mt mb">
                    <div class="col-lg-12">
                        <h3>  <i class="fas fa-user-shield"></i> Administration</h3>
                        <div class="space-20"></div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="dmbox">
                                <div class="service-icon">
                                    <a class="dm-icon " href="{{ path('admin_subjects') }}"><i class="i fas fa-mail-bulk fa-3x"></i></a>
                                </div>
                                <h4>Tous les sujets signalés</h4>
                                <p>Administrer la liste de tous les sujets signalés du site.</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="dmbox">
                                <div class="service-icon">
                                    <a class="dm-icon " href="{{ path('admin_users') }}"><i class="i fas fa-user-friends fa-3x"></i></a>
                                </div>
                                <h4>Tous les utilisateurs</h4>
                                <p>Administrer la liste de tous les membres inscrits sur le site.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        {{ include('parts/footer.html.twig') }}

    </section>

{% endblock %}
