<footer class="site-footer">
    <div class="text-center">
        <p>Projet de développement Symfony - Licence pro DWCA 2020-2021</p>
        <div class="credits">
            Développement dans la cadre du projet noté sur Symfony
        </div>
    </div>
</footer>