<header class="header black-bg">
    <a href="{{ path('home') }}" class="logo"><b><span> SP</span> SYMFONY</b></a>
    <div class="top-menu">
        <ul class="nav pull-right top-menu">
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                <li><a class="logout" href="{{ path('app_logout') }}">Deconnexion</a></li>
            {% else %}
            {% endif %}
        </ul>
    </div>
</header>
<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <p class="centered">
                <a href="{{ path('home') }}">
                    <img src="{{ asset('img/apple-touch-icon.png') }}" class="img-circle" width="80" alt="logo">
                </a>
            </p>

            {% if is_granted('ROLE_USER') %}
                <h5 class="centered">{{app.user.fullName}}</h5>
            {% else %}
                <h5 class="centered"></h5>
            {% endif %}

            {% if is_granted('ROLE_USER') %}
                <li class="mt">
                    <a href="/">
                        <i class="fas fa-home"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <li class="sub-menu">
                    <a href="{{ path('admin') }}">
                        <i class="fas fa-user-shield"></i>
                        <span>Administration</span>
                    </a>
                </li>
            {% endif %}

            {% if is_granted('ROLE_USER') %}
            {% else %}
                <li class="sub-menu">
                    <a href="{{ path('app_login') }}">
                        <i class="fas fa-sign-in-alt"></i>
                        <span>Login</span>
                    </a>
                </li>
            {% endif %}

            {% if is_granted('ROLE_USER') %}
            {% else %}
                <li class="sub-menu">
                    <a href="{{ path('app_register') }}">
                        <i class="fas fa-plus-square"></i>
                        <span>register</span>
                    </a>
                </li>
            {% endif %}

        </ul>
    </div>
</aside>