{% extends 'base.html.twig' %}

{% block body %}

<section id="container">

    {{ include('parts/header.html.twig') }}

        <section id="main-content">
            <section class="wrapper site-min-height">
                <div class="row mt mb">
                    <div class="col-lg-12">

                        <h3>Utilisateur - {{ user.pseudo }}</h3>

                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Id</th>
                                    <td>{{ user.id }}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>{{ user.email }}</td>
                                </tr>
                                <tr>
                                    <th>Roles</th>
                                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Mot de passe</th>
                                    <td>{{ user.password }}</td>
                                </tr>
                                <tr>
                                    <th>Pseudo</th>
                                    <td>{{ user.pseudo }}</td>
                                </tr>
                                <tr>
                                    <th>Nom complet</th>
                                    <td>{{ user.fullName }}</td>
                                </tr>
                                <tr>
                                    <th>Année de naissance</th>
                                    <td>{{ user.birthdayDate ? user.birthdayDate|date('Y-m-d H:i:s') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Admin</th>
                                    <td>{{ user.isAdmin ? 'Yes' : 'No' }}</td>
                                </tr>
                                <tr>
                                    <th>Crée le</th>
                                    <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                </tr>
                            </tbody>
                        </table>

                        <div style="display: flex;">

                            <form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet utilisateur ?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                <button class="btn btn-danger">Supprimer</button>
                            </form>

                            <span class="width-5"></span>

                            <a href="{{ path('admin_users') }}"><button class="btn btn-primary logout">Retour à la liste</button></a>

                        </div>


                    </div>
                </div>
            </section>
        </section>
    </section>

    {{ include('parts/footer.html.twig') }}

{% endblock %}
